.timeline_container {
  height: fit-content;
  padding: 1rem;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.timeline_title {
  text-align: center;
  font-size: 1.2rem; /* Adjusted for smaller screens */
  border: 2px solid var(--gray);
  padding: 0.3rem;
  border-radius: 0.4rem;
  width: fit-content;
  margin: auto;
  box-shadow: 0px 0px 3px 1px var(--gray);
}

.timeline_box {
  position: relative;
  margin-inline: auto;
  max-width: 75rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.timeline_box::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 100%;
  background-color: var(--accent);
  top: 0;
  left: 50%;
  border-radius: 0.3rem;
  z-index: -1;
  animation: animate 6s linear forwards;
}

@keyframes animate {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.action_container {
  padding-inline: 2rem;
  position: relative;
  width: 50%;
  opacity: 0;
  animation: show 1s linear forwards;
}

.action_container:nth-child(1) {
  animation-delay: 0s;
}
.action_container:nth-child(2) {
  animation-delay: 1.5s;
}
.action_container:nth-child(3) {
  animation-delay: 3s;
}
.action_container:nth-child(4) {
  animation-delay: 4.5s;
}

@keyframes show {
  0% {
    opacity: 1;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.left_container {
  left: 0;
}

.right_container {
  left: 50%;
}

.right_container::before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  left: -0.6rem;
  top: 1rem;
  background-color: var(--fade);
  border: 2px solid white;
}

.left_container::before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  right: -0.9rem;
  top: 1rem;
  background-color: var(--fade);
  border: 2px solid white;
}

/* Responsive Styles */
@media screen and (max-width: 830px) {
  .timeline_box {
    margin: 2.5rem auto;
  }
  .timeline_box::after {
    left: 0;
  }
  .action_container {
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem;
    height: fit-content;
  }
  .right_container {
    top: 1rem;
    left: 0;
  }
  .right_container::before, .left_container::before {
    left: -0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .timeline_title {
    font-size: 1rem;
    padding: 0.2rem;
  }
  .action_container {
    padding: 1rem;
    margin-top: 1.5rem;
  }
  .right_container::before, .left_container::before {
    left: -0.3rem;
  }
  .timeline_box {
    padding: 1rem;
  }
}
